# Tratado de datos

Lo primero es convertir los archivos a **.csv** para trabajar sobre ellos y dejar los originales intactos

In [27]:
import pandas as pd
import os

In [28]:
# Obtener el directorio actual (suponiendo que el script está en src)
current_dir = os.getcwd()

# Construir la ruta relativa hacia el archivo
file_path_events = os.path.join(current_dir, '..', '..', 'utils', 'files', 'Bootcamp CDP Mock - Events V2.xlsx')
file_path_profile = os.path.join(current_dir, '..', '..', 'utils', 'files', 'Bootcamp CDP Mock - Profiles.xlsx')

# Leer el archivo Excel
df_events = pd.read_excel(file_path_events)
df_profile = pd.read_excel(file_path_profile)

csv_path_events = os.path.join(current_dir, '..', '..', 'utils', 'files', 'Bootcamp_CDP_Events.csv')
csv_path_profile = os.path.join(current_dir, '..', '..', 'utils', 'files', 'Bootcamp_CDP_Profile.csv')

df_events.to_csv(csv_path_events, index=False)
df_profile.to_csv(csv_path_profile, index=False)

events = pd.read_csv(csv_path_events)
profiles = pd.read_csv(csv_path_profile)

## Analisis de tabla de perfiles

- Analisis de campos esenciales
- Busqueda de duplicados
- Standarizacion de los datos
- Creación del esquema

In [36]:
profiles.head()

,id,first_name,last_name,email,gender,CRM ID,Products,Postal Code,Profiling Consents,Comms. Consents,Loyalty Program,Loyalty Status
0,1,Una,Kolin,ukolin0@newsvine.com,Female,52410-3040,"[{2023-04-01,Telefonía,P-001,2025-03-31}",31236.0,False,0.0,False,NaN
1,2,Kaila,Hasted,khasted1@ameblo.jp,NaN,51285-697,"[{2021-04-01,Telefonía,P-001,2025-03-31},{2024...",NaN,False,1.0,True,Silver
2,3,Magdaia,Steagall,msteagall2@cisco.com,Female,33992-1108,"[{2023-04-01,Telefonía,P-001,2025-03-31}",68203.0,False,0.0,False,NaN
3,4,Sherill,De Cristoforo,sdecristoforo3@naver.com,NaN,54868-2482,"[{2023-04-01,Telefonía,P-001,2025-03-31}",NaN,False,0.0,False,NaN
4,5,Rory,Von Welldun,rvonwelldun4@printfriendly.com,NaN,11410-301,"[{2023-04-01,Telefonía,P-001,2025-03-31}",NaN,True,NaN,False,NaN

In [34]:
dupes_profile = profiles[profiles.duplicated(subset=['email', 'CRM ID'], keep=False)]  

print("Claves duplicadas en tabla perfiles:")
print(len(dupes_profile), dupes_profile['email'], dupes_profile['CRM ID'])

Claves duplicadas en tabla perfiles:
0 Series([], Name: email, dtype: object) Series([], Name: CRM ID, dtype: object)

*No hay duplicados en las claves que considero que identifican a un perfil unico*